:root{
  --secondarycolor:#86A2B3;
  --primarycolor:#E0E0E1;
  --fontcolor:#978897; 
  --white: #FFFFFF;
  --hover: #2E5266;
  --grey: #323232;
  --onyxblack: #35393C; 
  --button: #42858C; 
  --background:#E9FDFC;
  --navbackground:#35393C; 
  --navitemcolor: #E0E0E1;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Inconsolata:wght@500&family=Raleway:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:500');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Inconsolata:wght@500&display=swap');

* { 
  box-sizing:border-box; 
  margin:0;
  padding:0; 
}

body {
  /* font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  /* font-family:"Open Sans",sans-serif; */
  font-family: 'Inconsolata', monospace;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #393D3F;
  margin: 0px;
  padding: 0px;
  background-color: var(--background);

}



ul,li,a,button{
  font-family:"Montserrat",sans-serif; 
  font-weight:500;
  font-size:16px;
  text-decoration:none;
  cursor: pointer;
  list-style: none;
}

header {
  display:flex; 
  justify-content: center; 
  align-items:center; 
  background-color: var(--navbackground);
  flex-direction: row;
  padding: 30px 10%;
}

nav { 
  display:flex;
  flex-direction:row;
  width:100%;
}

.nav_link{
  list-style:none;
  display:flex;
  align-items: center;
  width:100%;
}

.nav_link li {
  display:flex;
  padding: 0px 20px; 
}

.nav_link li a {
  transition: all 0.3s ease 0s; 
}

.nav_link li a:hover {
  color:#0088a9;
}
.nav_link li:last-child { 
  margin-left:auto;
  }

/* color of nav items */
.items {
  color:var(--navitemcolor);
}

.Page {
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
  align-content:center;
  row-gap:20px;
  height:100%;
}


/* .selectProtocol { 
  margin-top: 20px; 
  margin-bottom: 20px;
} */


/*Single Query*/

.submit { 
  width:30%;
  display:flex; 
  align-items: center;
  justify-content:center;
  column-gap:10px;
}

/*Bulk Query*/
.bulkQueryField { 
  width:70%;
  display:flex; 
  align-items: center;
  justify-content: center;
  column-gap:10px;

}
.bulkUpload { 
  display:flex; 
  justify-content: space-around;
  align-items:center; 
  flex-direction: row;
  margin-top:20px;
  column-gap:20px;

}
.jsonUpload{ 
  display:flex;
  justify-content: center; 
  align-items:center; 
  flex-direction: column;
}

.modal {
  /* position: fixed; */
  position:fixed;
  z-index: 1;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: fixed;
  top: 40%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.modal_content2 { 
  display:flex;
  align-items: center;
  column-gap: 10px;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}

/* Reverse Lookup */


#filterField { 
  height:40px !important;
}

/* .filteredIPs{
  height:300px;
  overflow-y:scroll;
  scrollbar-width:none;
  -ms-overflow-style: none;
  background-color:#E0E0E1;
}

.filteredIPs::-webkit-scrollbar {
  display:none;
} */

.selectFields { 
  display:flex; 
  align-items: center;
  justify-content: center;
  column-gap:10px;
}





/* reused */
.resultTableContainer { 
  display:flex;
  align-items:center;
  justify-content: center;
  overflow-x:auto;
}

.greynoiseTable { 
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.columnFilters { 
  display:flex; 
  align-items: center;
  justify-content: center;
  width:70%
}
.resultTable  {
  max-width:1500px;
  width:70%;
  display:flex;
  overflow-x:auto;
  align-items:center;

}

.results { 
  display:flex;
  flex-direction: column;
  align-items: center;
}

.pagination { 
  display:flex; 
  align-items: center;
  flex-direction: column;
  justify-content: center;

  row-gap:10px;
  margin-top:10px;
}